

@import url(https://fonts.googleapis.com/css?family=Roboto);

/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help{
  font-size: 12px;
}

.login-btn {
  text-align:center;
  margin-top: 50px;
}

.button {
  line-height: 55px;
  padding: 0 30px;
  background: #004a80;
  color: #fff;
  display: inline-block;
  font-family: roboto;
  text-decoration: none;
  font-size: 18px;
}

.button:hover,
.button:visited {
  background: #006cba;
  color: #fff;
}

.col-prof
{
 
  border-right:1px solid #bdbcbc;
  padding:10px;
  text-align: center;
  background-color: #ededed;

}

.col-more
{
  border-left:1px solid #bdbcbc;
  background-color: #ededed;
  
  

  padding:10px;

  
}
.col-content
{
  overflow-y: scroll;
  /* display: grid;
  grid-template-columns: 4fr;
  grid-auto-rows: minmax(300px, auto); */
 
  /* padding-left: 10px;
  padding-right: 10px; */

  height: 100vh;
}
.col-content::-webkit-scrollbar {
  display: none;
}

.col-content {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.post-img
{
  height: 350px;
}

.home-head
{
  border-bottom: 1px solid #bdbcbc;
  margin-bottom: 25px;
  font-size: 1.2rem;
  padding: 5px;
  margin-top:5px;
  font-weight: bold;


 
}






.btn-delete
{

  color: #ffffff;
  border-color: #c5c5c5;
  background-color: #b50000;
}

#tags
{
  margin-bottom: 10px;
}
input
{
  margin:2px;
}

.alltags
{

  margin-bottom: 15px;


}

.tag{
  border: 0.5px solid #bdbdbd;
  margin: 2px;
  width: fit-content;
  padding: 4px;
  background: #0e0900;
 
}

 

.tag-a
{
  color: white!important;
  text-decoration: none;
  text-decoration: none!important;


}
.boxicon
{
  width: 20px;
  height: 20px;
}
.card-text
{
  margin-bottom: 50px;
}

.pagination
{
  justify-content: center;
}


.btn-edit {
  text-decoration: none;
    color: #ffffff;
    background-color: #b9894a;

 
}


.btn-cmt
{
  background: #8f8f8f;
  color: white;
}

.btn-cmt:hover
{
  color:blanchedalmond;
}

.post
{
  /* padding-left: 0; */
}

.vote
{
 
  display: flex;
    
    align-items: revert;
}

.content{
  border:1px solid #cdbfbf;
}

.content .card
{
  border:none;
  border-left:1px solid #cdbfbf;
  border-radius: 0;
}

.user-det
{


  height: 30px;
    text-align: center;
    display: flex;
    justify-content: c;
    align-items: center;
    margin-right: 10px;
    justify-content: space-between;
    font-weight: bold;
    color: #878787;
    font-size: 0.8em;
}


.vote
{

  background-color: #f7f7f7;
  justify-content: center
}

.wrapper
{
  display: grid;
  grid-auto-rows:40px;
  margin-top: 40px;
}

/* .bx{
  height: 100px;
} */

#title,#text,#e-title,#e-text
{
  border:none;
  outline: none;
  width: 100%;
}
#title,#text:focus
{
  border:none!important;
  outline: none!important;
}
 */

 input:focus, textarea:focus, select:focus{
  outline: none!important;
} 

.close-btn
{

}

.create-modal
{
  border-radius:1em;
}


.filelabel {
  width: 120px;
  /* border: 2px dashed grey; */
  border-radius: 5px;
  display: block;

  transition: border 300ms ease;
  cursor: pointer;
  text-align: center;
  margin: 0;
  width: 25px;
  height: 20px;

  
}
.filelabel i {
  display: block;
  font-size: 20px;
 
}
.filelabel i,
.filelabel .title {
/* color: grey; */
transition: 200ms color;
}
/* .filelabel:hover {
border: 2px solid #1665c4;
}
.filelabel:hover i,
.filelabel:hover .title {
color: #1665c4;
} */
#FileInput,#FileInput_edit,#ProfileInput,#CoverInput{
  display:none;
}

#preview,#preview_edit
{
  border-radius:0.8em;
}

#exampleModal2
{
  transition: all 1s ease-in-out;
}

.tagp
{
  width: 100px;
  height: 20px;
}


.profile_head
{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  font-weight: bold;
}

@media (max-width: 402px) {
  .post-img
  {
    height: 250px;
    
  }
  
}