<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content create-modal">
        <!-- <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Post your views</h5>
     
        </div> -->
        <div class="modal-body ">
          
        <div class="d-flex justify-content-end ">
  <i class='bx  bx-sm bx-window-close ' data-bs-dismiss="modal"></i>
         
        </div>
          <form  action="/user/post" class="needs-validation" method="post" novalidate enctype="multipart/form-data">
            <div class="mb-3">
              <!-- <label for="title" class="form-label">Title</label> -->
              
              <input type="text" name="title" id="title" aria-describedby="emailHelp" required
              placeholder="What's happening?">
              <div class="valid-feedback">
   
              </div>
             
            </div>
            <div class="mb-3">
              <!-- <label for="image" class="form-label ">Image</label>
              <input type="text" name="image" class="form-control" id="image"> -->
              <!-- <input type="file" name="image" id="image-upload"> -->
            </div>
            <img src="" alt="" class="preview" style="width: 100%;">
    
            <div class="mb-3">
              <!-- <label for="text" class="form-label">Text</label> -->
              <textarea name="text" placeholder="Would you like describe more?" id="text" data-enable-grammarly="false" required></textarea>
              <div class="valid-feedback">
                
              </div>
            </div>

            <span class="add" onclick="clicked()">Add tags <box-icon type='solid' class="boxicon" name='folder-plus'></box-icon></box-icon></span>
            <box-icon  onclick="deletetag()" type='solid' class="boxicon" name='folder-minus'></box-icon>
            <!-- <button type= class="btn btn-primary add" onclick="this.disabled = true">Add</button> -->
            <div id="tags">

            </div>
            <div class="img-upload" style="margin-bottom: 20px;">
              <label class="filelabel">
               
                </i>
                <span class="title">
                    <i class='bx bx bx-image-alt'></i>
                </span>
            
                <input class="FileUpload1" id="FileInput" name="image" type="file"/>
                
                
            </label>
            </div>
            <div class="d-flex justify-content-end">
            <button style="background-color: black;" type="submit" class="btn btn-primary">Post</button>
            </div>
          </form>
     
        </div>
    
     
      </div>
    </div>
    </div>