   
        <div class="d-flex logout justify-content-around">
            <!-- <div>
               Logged in as 
            </div> -->
    
            <!-- <form action="/user/logout">
              <button class="btn btn-sm btn-dark btn-logout">Logout</button>
            </form> -->
          </div>
  
        
  
          <div class="wrap" style="margin-top: 100px;">
            <div class="search  ">
              <form  action="/user/search" method="post">
                <div class="d-flex">
               <input id="user_search" name="user_search" type="text" class="searchTerm" placeholder="What are you looking for?">
               <button type="submit" class="searchButton">
                <i class='bx bx-search'></i>
              </button>
              </div>
              </form>
            </div>
  
        
         </div>
         
  
         <div style="margin-top:200px; ">
         <p style="margin-bottom: 10px; font-size: 2em;">Current matches</p>
         <div id="scorecard" style=" overflow: scroll; ">
        
       </div>
  
       </div>
  